<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/test.css" />
<link rel="stylesheet" type="text/css" href="/css/main_style.css" />
<link rel="stylesheet" type="text/css" href="/css/top_style.css" />
</head>
<body>
	<header th:replace="admin/fragments/top :: top"></header>
	<aside th:replace="admin/fragments/menu :: menu"></aside>
	<section id="content">
	
	<div th:each="i : ${continents}">
		<a  th:href="@{'/admin/addplace/continent/' + ${i.idplace}}" th:text="${i.name}"></a><br>
	</div>
	</section>
</body>
</html>