<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/test.css" />
<link rel="stylesheet" type="text/css" href="/css/main_style.css" />
<link rel="stylesheet" type="text/css" href="/css/top_style.css" />
</head>
<body>
	<header th:replace="admin/fragments/top :: top"></header>
	<aside th:replace="admin/fragments/menu :: menu"></aside>
	<section id="content">
	

	<div  th:each="i : ${regions}" >
		<span th:text="${#strings.substring(i.idplace,5,8)}"> </span>
		<a th:href="@{'/admin/addplace/region/' + ${i.idplace}}" th:text="${i.name}"></a><br>
	</div>
	
		
	<p th:text="${message}">
	<form th:action="@{/admin/addplace/parentplace}" method="post" th:object="${parentPlaceModel}">
		<input type="hidden" name="parentid" th:value="${continentid}">
		<input type="hidden" name="category" value="regions">		
		
		Id: <span th:text="${continentid}"></span>
		<input type="text" size="3"maxlength="3" name="id" th:field="*{id}">
		<span>0000000</span><br>
		
		<input th:text="text" name="name">
		<textarea name="description" rows="" cols="" th:field="*{description}"></textarea>
		
		<button type="submit">Dodaj</button>
	
	</form>
	</section>
</body>
</html>